# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.pyc

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Ambientes virtuais
.venv/
env/
venv/
ENV/

# Dados e arquivos temporários
open-data.zip
*.h5
*.hdf5
*.npy
*.csv
*.json
*.zip
*.pickle
*.pkl
*.joblib


# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini
